body{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

img {
	width:100%;
}
.column-1{
	height: 30vh;
	width: 100vw;
}
.column-2{
	height: 70vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}
.box{
	height: 100%;
	width: 25%;
}

.1sunset1{
	content:url(1sunset1.png);
}

.sunset2{
	content:url(sunset2.png);
}

.sunset3{
	content:url(sunset3.png);
}

.sunset4{
	content:url(sunset4.png);
}

.sunset5{
	content:url(sunset5.png);
}

.eclipse2{
	content:url(eclipse2.png);
}

.eclipse3{
	content:url(eclipse3.png);
}

.sunset6{
	content:url(sunset6.png);
}

img:hover {
    cursor: pointer;
	opacity: 0.8;
}

.red {background-color: red;}
.green0 {background-color: #32CD32;}
.green1 {background-color: #00FF00;}
.green2 {background-color: #228B22;}
.green3 {background-color: #3CB371;}

.mediumorchid {
	background-color: #BA55D3;
}
@media screen and (max-width:800px){
	.box{
	height: 50%;
	width: 50%;
	}
}